.news-container {
    margin: 8px;
    padding: 12px 12px;
  }
  /* topics */
  ul {
    list-style-type: none;
  }
  .topic-selector {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .topic-selector li {
    display: inline-block;
    margin: 1em;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 3em;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .topic-selector .active {
   background: #9b2929;
  }
  .topic-selector.not-active{
    background: #c3d715;
  }
  .topic-selector.active:hover {
    background: #09048b;
  }
  
  .sort-options-container {
    display: flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}
.sort-options-container  div {
  padding: 1em;
}
.sort-options-container select  {
  border-radius: 20px;
  padding: 0.5em;
  background:  #eeeeb7c8;
}
.sort-options-container label {
  padding-right: 0.5em;
}
  
  /*********/
  .news-list {
   display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 16px;
    background-color: rgb(244, 247, 244);
  }
  
  /* article card */
  .news-item {
    border-radius: 20px;
    width: 300px;
    margin: 0px;
    padding-top: 24px;
    /* width: 20rem; */
    text-wrap: wrap;
  }
  .news-item img {
    width: 280px;
    height: 185px;
  }
   
  /* .article-content {
    /* padding: 10px; */
    /* line-height: 1.5em;
    color: rgb(30, 28, 28);
  }  */

  .news-item  h2 {
    font-size: 1.2em;
    margin-right: 12px;
    
  }
  
 
  
  .article:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  }

  .vote-count {
    position: relative;
  }