.single-article {
    display: block;
    margin: 8px;
    padding: 12px 24px;
}

.single-article h2 {
    color: #0d1c69c4;

}
h3 {
padding-left: 24px;
}

/* .single-article img {

} */
.single-article-content {
    padding-top: 12px;
    padding-bottom: 12px;
}
.single-article-content p {
    padding-top: 12px;
    font-weight: bold;
}
.loading-p {
    display: block;
    margin: 8px;
    padding: 12px 36px;
}

.comments-section {
    display: block;
 
} 

 
.single-comment {
    /* margin: 8px; */
    padding-top: 12px;
    background:  rgb(244, 247, 244);
    border-radius: 20px;
}
.single-comment p {
    margin: 10px;
    padding-bottom: 8px;
}

.post-comment {
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.post-comment h3{
    padding: 0;
}

.post-comment form {
    display: block;
    margin: auto;
}
.post-comment label {
    display: block;
}
.post-comment textarea {
    display: block;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(236, 240, 240);
    border-radius: 20px;
    text-align: center;
}
.post-comment button {
    background: rgba(90, 201, 49, 0.813);
}
.voter-article {
    margin-bottom: 10px;
    margin-top: 10px;
}
.voting-positive {
    width: 120px;
    background: rgba(90, 201, 49, 0.813);
    color: white;
}

.voting-negative {
    width: 120px;
    background: rgba(236, 64, 64, 0.813);
    color: white;
}
.topic-label {
    border-radius: 20px;
    padding: 3px;
    width: 80px;
    text-align: center;
    margin: 5px;;

}
.topic-label__cooking{
    background-color: rgba(187, 187, 69, 0.813);
}
.topic-label__football{
    background-color: rgba(90, 201, 49, 0.813);
}
.topic-label__coding {
    background-color: #7177e5;
}

.delete-comnt-btn {
    background: rgba(236, 64, 64, 0.813);
    margin: 10px;
}

.deleting-cmt {
    display:flex;
    align-items: center;
    margin: auto;
    font-size: 1.5em;
    background: rgb(210, 109, 109);
}

.loading-p{
    display:flex;
    align-items: center;
    margin: auto;
    font-size: 1.5em;
    background:rgb(244, 247, 244);
}